html {
  font-size: 10px;
}
header {
  height: 15rem;
  background-color: #ffb5b5;
}
header .container-fluid {
  width: 97%;
}
header .logo {
  height: 15rem;
  line-height: 15rem;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 15rem;
  color: whitesmoke;
}
main .accordion {
  margin-top: 3rem;
}
main .accordion .card {
  background-color: #5d0dff;
}
main .accordion .card-body {
  background-color: #5d0dff;
}
main .accordion .card-body button {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0 0 3rem 3rem;
  background-color: #5d0dff;
}
main .accordion button {
  padding: 0 0 0 0;
  border: none;
  height: 4.3rem;
  background-color: white;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}
main .accordion button:hover {
  cursor: pointer;
  border-color: white;
}
main .container-fluid {
  width: 100%;
  height: 100vh;
}
main .settings {
  text-align: center;
  background-color: #cbcfe4;
}
main .settings #createBtn {
  margin-top: 3rem;
}
main .settings button {
  font-family: 'Micra', arial;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #5d0dff;
  width: 100%;
  height: 6rem;
}
main .settings button :active {
  outline: 0;
}
main .settings button :focus {
  outline: 0;
}
main .placeholder {
  width: 100%;
  background-color: #5d0dff;
  margin-top: 4rem;
  border-radius: 0.8rem;
  opacity: 0.87;
}
main .placeholder div {
  display: inline-block;
}
main .placeholder-priority-clr {
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: red;
}
main .placeholder-task {
  min-width: 30%;
  height: 7rem;
  margin-left: 2rem;
}
main .placeholder-task h1 {
  line-height: 7rem;
  font-family: 'Montserrat', arial;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
}
main .placeholder-description {
  font-family: 'Montserrat', arial;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  min-width: 40%;
}
main .placeholder-data {
  font-family: 'Montserrat', arial;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 7rem;
  height: 7rem;
}
main .placeholder-status {
  margin-left: 3rem;
}
main .modal .close {
  margin: 0;
  padding: 1rem 1rem 0 0;
}
main .modal-content {
  width: 200rem;
}
main .modal-header {
  width: auto;
}
main .modal-title {
  margin: auto;
  font-family: 'Montserrat', arial;
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
}
main .modal-body {
  text-align: center;
  font-family: 'Montserrat', arial;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000000;
}
main .modal-body input {
  width: 80%;
  margin: 2rem;
}
main .modal-body textarea {
  width: 80%;
}
main .modal-body select {
  width: 80%;
}
main .modal-body .btn {
  width: 30%;
  height: 3rem;
  margin-top: 3rem;
}
